.movie-hover {
    cursor: pointer;
  transition: transform 0.2s;
    position: relative;      
  z-index: 10;
}

.movie-hover:hover {
  transform: scale(1.1);
   position: relative;      
  z-index: 10;
}
